# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
ENV/
env/
.env/
.venv/

# -----------------------------
# Flask / Web
# -----------------------------
instance/
*.db
*.sqlite3
*.log
*.pot
*.mo
*.pyc

# -----------------------------
# IDEs / Editors
# -----------------------------
# VS Code
.vscode/
.history/
*.code-workspace

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db
